<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <distributable/>

  <servlet>
  	<servlet-name>Hi</servlet-name>
  	<servlet-class>org.openshift.examples.cluster1.Hi</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>StoreInSession</servlet-name>
    <servlet-class>org.openshift.examples.cluster1.StoreInSession</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>ShowHeaders</servlet-name>
  	<servlet-class>org.openshift.examples.cluster1.ShowHeaders</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>Hi</servlet-name>
  	<url-pattern>/Hi</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>StoreInSession</servlet-name>
    <url-pattern>/StoreInSession</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>ShowHeaders</servlet-name>
  	<url-pattern>/ShowHeaders</url-pattern>
  </servlet-mapping>
</web-app>
